"<div class="dnd5e chat-card item-card midi-qol-item-card" data-actor-id="bq7uRQKjaaGD1PCD" data-item-id="q5KBFfECI1rhOwnS">
  <header class="card-header flexrow">
    <img src="systems/dnd5e/icons/items/weapons/warhammer.png" title="Warhammer +2" width="36" height="36" />
    <h3 class="item-name">Warhammer +2</h3>
  </header>

  <div class="card-content">
      <p><em>Whether through demonic blessing, celestial bequeathment, crazed experiment, or skillful craft, this weapon has been enhanced to bring more bloodshed by the bearer.</em></p>
<p>You have a bonus to attack and damage rolls made with this magic weapon.</p>
  </div>

  <div class="card-buttons">
    

    <div class="flexrow 2">
      <div style="text-align:center">Attack<div class="midi-qol-attack-roll"><div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">1d20 + 7 + 4 + 2</div>
        <div class="dice-tooltip">
    
        <div class="dice">
            <p class="part-formula">
                1d20
                <span class="part-total">5</span>
            </p>
            <ol class="dice-rolls">
                <li class="roll die d20">5</li>
            </ol>
        </div>
    
</div>

        <h4 class="dice-total">18</h4>
    </div>
</div>
</div></div>
      <div class="midi-qol-damage-roll"></div>
    </div>
    <button data-action="damage">
      Damage
    </button>





    <div class="midi-qol-hits-display"><div>
  <div class="midi-qol-nobox">
    <div class="midi-qol-flex-container">
      <div>
        hits
      </div>
      <div class="midi-qol-target-npc midi-qol-target-name" id="sSFpYDKsyvzQR6Gs"> Azer</div>
      <div><img src="modules/shared/img/upload/npc-Azer.jpeg" width="30" height="30" style="border:0px" /></div>
    </div>
  </div>
</div></div>
    <div class="midi-qol-saves-display"></div>
  </div>

  <footer class="card-footer">
    <span>Martial Melee</span>
    <span>Not Equipped</span>
    <span>Proficient</span>
    <span>1 Action</span>
    <span>Creature</span>
    <span>5 Feet</span>
    <span>1 Minutes</span>
  </footer>
</div>"